body {
	background: url('assets/music_bg.gif') black scroll top left repeat;
	font-family: Helvetica,sans-serif;
	/* font-size: small; */
	color: yellow;
  text-shadow: 1px 1px 2px black;
}

a {
  color: yellow;
}
