@if (track(); as track) {
  <div class="container">
    <h1>Edit Track: {{ track.TrackName }}</h1>
    <form (ngSubmit)="save()">
      <div class="form-group">
        <label for="trackName">Track Name:</label>
        <input type="text" id="trackName" [(ngModel)]="track.TrackName" name="trackName" class="form-control">
      </div>

      @for (groupType of objectKeys(availableGroups()); track groupType) {
        <div class="group-section">
          <hr>
          <h3>{{ groupType }}</h3>
          <div class="group-row">
              <strong>Current:</strong>
              @if (!trackGroups()[groupType] || trackGroups()[groupType].length === 0) {
                <span class="no-groups">
                  none
                </span>
              }
              @for (group of trackGroups()[groupType]; track group.groupId) {
                <span class="group-label">
                  {{ group.groupName }}
                  <button type="button" (click)="removeGroup(group)" class="btn-icon">🗑️</button>
                </span>
              }
          </div>
          <div class="group-row">
              <strong>Available:</strong>
              @for (group of availableGroups()[groupType]; track group.groupId) {
                <span class="group-label add">
                  {{ group.groupName }}
                  <button type="button" (click)="addGroup(group)" class="btn-icon">➕</button>
                </span>
              }
          </div>
        </div>
      }
      
          <hr>
      
          <h3>Track Files</h3>
          <div class="file-list">
            @for (file of track.Files; track file.FileId) {
              <div class="file-item">
                <img [src]="getImageUrl(file.FileId)" alt="Album Art for {{ file.FileName }}" class="album-art">
                          <div class="file-info">
                            <div class="file-name">{{ file.FileName }}</div>
                            <div class="file-duration">{{ formatDuration(file.Duration) }}</div>
                            <audio [src]="getAudioUrl(file.FileId)" controls class="audio-player"></audio>
                          </div>
                        </div>
                      }
                    </div>            
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
      }
